@model HACtorr.ViewModels.Torrents.AddUrlViewModel
@{
	ViewBag.Title = "Add Url";
	Layout = "~/Views/Shared/_TorrentsLayout.cshtml";
}

<h2>Add Url</h2>

<div id="content">
    @using (Html.BeginForm())
    {
        <label>Add from URL</label>
        @Html.EditorFor(vm => vm.TorrentUrl)
        @Html.ValidationMessageFor(vm => vm.TorrentUrl)
        
        <input type="submit" value="Add Torrent"/>
    }
    
    @using (Html.BeginForm("AddTorrents", "Torrents", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <label>Add from .torrent file</label>
        <input type="file" multiple="true" name="files"/>
        
        <input type="submit" value="Add Torrent File"/>
    }
</div>